//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ModuleConfigurator {

    func configure() -> {{ module_info.name }}ViewController {
       let bundle = Bundle(for: {{ module_info.name }}ViewController.self)
       guard let viewController = UIStoryboard(name: String(describing: {{ module_info.name }}ViewController.self),
                                     bundle: bundle).instantiateInitialViewController() as? {{ module_info.name }}ViewController else {
           fatalError("Can't load {{ module_info.name }}ViewController from storyboard, check that controller is initial view controller")
       }

        let router = {{ module_info.name }}Router()
        router.view = viewController

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter
        
        return viewController
    }

}
