//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Router: {{ module_info.name }}RouterInput {

    // MARK: - Public Properties

    weak var view: ModuleTransitionable?

    // MARK: - TaskDetailRouterInput
    
}
